* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    scrollbar-width: 0px;
    min-height: 100vh;
    padding-top: 64px; /* same as navbar height */

}

body::-webkit-scrollbar{
    width: 0px;
}

